.login {
	padding: 40px;
	width: 273px;
	height: 400px;
	background-color: #000;
	margin: 0 auto 10px;
	overflow: hidden;
	float: left;
}
.login input[type="submit"] {
	width: 100%;
	display: block;
	margin-bottom: 10px;
	position: relative;
}
.login input[type=text], input[type=password] {
	height: 44px;
	width: 100%;
	font-size: 20px;
	background: #FFF;
	margin-bottom: 10px;
	padding: 0 8px;
	box-sizing: border-box;
}
.registration {
	padding: 40px;
	width: 273;
	height: 400px;
	background-color: #000;
	margin: 50px;
}
.registration input[type=submit] {
	width: 100%;
	display: block;
}
.registration input[type=text], input[type=textarea] {
	width: 100%;
	display: block;		
}
